.container{
    height: 700px;
    border: 4px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: rgb(1, 30, 1);
}
.left-side{
    flex-basis: 30%;
    border: 4px solid blue;
    border-radius: 20px;
}

#port{
    margin :10px;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap:5px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 120px;
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}
.box:hover{
    background-color: #999;
    background-position: center;
}
.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.flat{
    margin-left: 15%;
    width: 70%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: end;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-size: contain;
}
#f1{            
    background-image: url('static/IMGFL1.JPG.jpeg');
}
#f2{
    background-image: url('static/IMGFL2.JPG.jpeg');
}
#f3{
    background-image: url('static/IMGFL3.JPG.jpeg');
}
#f4{
    background-image: url('static/IMGFL4.JPG.jpeg');
}
#f5{
    background-image: url('static/IMGFL5.JPG.jpeg');
}
#f6{
    background-image: url('static/IMGFL6.JPG.jpeg');
}
#ab{
    font-size: large;
}
#next-button{
    background-color: white;
    border-color: red;
    cursor: pointer;
}