<div id="About">
    <h1>About Us</h1><br>
    <div class="container">
    <b><div>
        We are professionals who help buyers and sellers with their real estate transactions. They earn commissions based on the value of the properties they sell or buy. To become a real estate agent, you need to get a license from the state where you operate and join a brokerage firm. 
        </div><br><br>
    <div>This is a strategy where you find motivated sellers who want to sell their properties quickly and below market value. You then contract with them and assign the contract to an end buyer for a higher price. You earn the difference between the two prices as your profit. You do not need to own or finance the property, but you need to have a network of buyers and sellers.
         </div></b>
</div>
</div>