<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAT SECTION</title>
    <link rel="stylesheet" href="static/project1.css">
    <link rel="stylesheet" href="static/flat.css">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h2 id="port">Welcome to our FLAT Section</h2>
        </div>
        <div class="gallery">
            <div class="box row-2" style="background-image: url(/static/IMGFL1.JPG.jpeg);">FLAT1</div>
            <div class="box col-2" style="background-image: url(/static/IMGFL2.JPG.jpeg);">FLAT2</div>
            <div class="box" style="background-image: url(/static/IMGFL3.JPG.jpeg);">FLAT3</div>
            <div class="box row-2"style="background-image: url(/static/IMGFL5.JPG.jpeg);">FLAT4</div>
            <div class="box col-2 "style="background-image: url(/static/IMGFL4.JPG.jpeg);">FLAT5</div>
            <div class="box "style="background-image: url(/static/IMGFL6.JPG.jpeg);">FLAT6</div>
            <div class="box col-2 "style="background-image: url(https://th.bing.com/th?id=OIP.l3ZBUiwYCIucnlN3PnYxMQHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2);">PLOT7</div>
        </div>
    </div>
    <br><br><br><br>
    <a href="f1">
        <div id="f1" class="flat">
            <h3 id="ab">California</h3>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="f2" class="flat">
            <h2 id="ab">New York</h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="f3" class="flat">
            <h2 id="ab">Italy</h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="f4" class="flat">
            <h2 id="ab">France</h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="f5" class="flat">
            <h2 id="ab">Tokyo</h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="f6" class="flat">
            <h2 id="ab">Seoul</h2>
        </div>
    </a>
</body>
</html>