<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUV</title>
    <link rel="stylesheet" href="static/style1.css" >
</head>
<body>
    {% include 'header.html' %}

        {% include 'front.html' %}
        <hr>
        {% include 'service.html' %}
        <hr>
        {% include 'about.html' %}
        <hr>
        {% include 'contact.html' %}
        <hr>
        {% include 'footer.html' %}
    <script>
        var typed = new Typed('#element', {
            strings: [
            'FLATS','PLOTS','FARM HOUSES'],
            typeSpeed: 90,
            loop:true
        });
    </script>
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/c01199fbba.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
</body>
</html>