<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLOTS SECTION</title>
    <link rel="stylesheet" href="static/project1.css">
    <link rel="stylesheet" href="static/plot.css">
</head>
<body>
    <div class="container">
        <div class="left-side">
            <h2 id="port">Welcome to our PLOTS Section</h2>
            <br><br><br><br><br><br>
        </div>
        <div class="gallery">
            <div class="box row-2" style="background-image: url(/static/PLOT1.JPG.jpeg);">PLOT1</div>
            <div class="box col-2" style="background-image: url(/static/PLOT2.JPG.jpeg);">PLOT2</div>
            <div class="box" style="background-image: url(/static/PLOT3.JPG.jpeg);">PLOT3</div>
            <div class="box row-2"style="background-image: url(/static/PLOT4.JPG.jpeg);">PLOT4</div>
            <div class="box col-2 "style="background-image: url(/static/PLOT5.JPG.jpeg);">PLOT5</div>
            <div class="box "style="background-image: url(/static/IMGFL6.JPG.jpeg);">hPLOT6</div>
            <div class="box col-2 "style="background-image: url(https://th.bing.com/th/id/OIP.PWU1oNi87A6GlG_bPF8BPgHaDk?w=316&h=168&c=7&r=0&o=5&dpr=1.3&pid=1.7);">PLOT7</div>
        </div>
    </div>
    <br><br><br><br>
    <a href="">
        <div id="p1" class="plot">
            <h2 id="ab"></h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="p2" class="plot">
            <h2 id="ab"></h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="p3" class="plot">
            <h2 id="ab"></h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="p4" class="plot">
            <h2 id="ab"></h2>
        </div>
    </a>
    <br><br><br><br>
    <a href="">
        <div id="p5" class="plot">
            <h2 id="ab"></h2>
        </div>
    </a>
</body>
</html>